USE [master]
GO
/****** Object:  Database [MEDIDORDB]    Script Date: 19-07-2023 16:25:42 ******/
CREATE DATABASE [MEDIDORDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEDIDORDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIDORDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEDIDORDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIDORDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEDIDORDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEDIDORDB]
GO
/****** Object:  Table [dbo].[Lectura]    Script Date: 19-07-2023 16:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectura](
	[IdLectura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [varchar](50) NULL,
	[Hora] [int] NULL,
	[Minuto] [int] NULL,
	[Consumo] [float] NULL,
	[IdMedidor] [int] NOT NULL,
 CONSTRAINT [PK_Lectura] PRIMARY KEY CLUSTERED 
(
	[IdLectura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medidor]    Script Date: 19-07-2023 16:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medidor](
	[IdMedidor] [int] IDENTITY(1,1) NOT NULL,
	[NumSerie] [int] NOT NULL,
	[Tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Medidor] PRIMARY KEY CLUSTERED 
(
	[IdMedidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19-07-2023 16:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](15) NULL,
	[TipoUsuario] [varchar](50) NULL,
	[Contrasenia] [varchar](30) NULL,
	[Correo] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lectura]  WITH CHECK ADD  CONSTRAINT [FK_Lectura_Medidor] FOREIGN KEY([IdMedidor])
REFERENCES [dbo].[Medidor] ([IdMedidor])
GO
ALTER TABLE [dbo].[Lectura] CHECK CONSTRAINT [FK_Lectura_Medidor]
GO
USE [master]
GO
